.box{
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
}
p:nth-of-type(2){
    color:red;
}
.container>div:first-child{
    background-color: green;
}
.container>div:nth-of-type(3){
    background-color: green;
}
div.container::before{
    content:" I am created by CSS. I got padding 10px, background color orange and border 2px solid green";
    padding: 10px;
    background-color: orange;
    border: 2px solid green;
    display: block;
    
}
div.container::after{
    content:" I am created by CSS. I got padding 10px, background color orange and border 2px solid green";
    padding: 10px;
    background-color: orange;
    border: 2px solid green; 
    display: block;
}
.container>div:nth-of-type(2):hover{
    background-color: yellow;
}
