.par_color{
	color: red;
}
#bgcolor{
	background-color: #ffff99;
}
.firstbox{
	margin:10px 5px;
	border:5px solid #008000;
}
.secondbox{
	margin:10px 5px;
	border:1rem solid #008000;
}
#thirdbox {
	margin:10px 5px;
	border:1em solid #008000;
}
#thirdbox p{
	margin:10px 5px;
	border:1px solid #008000;
}
h2{
}